https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css

@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto:100,200,300,400,500,600,700,800,900');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roberto', sans-serif;
    colour: #222;
}
/*----Navbar ----*/
.navbar {
    padding: .8em;
}
.navbar-nav {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}

/*---Carousel---*/
.carousel-inner img {
   height: 100%;
    width: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.padding {
    padding-bottom: 2rem;
}

/*---Welcome---*/
.welcome {
    width: 85%;
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 75%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-route, 
.fa-camera-retro, 
.fa-edit {
    color:rgb(7, 148, 148);
    font-size: 2rem;
    margin: 1rem;
}

.btn-primary {
    background-color: rgb(7, 148, 148);
    border: 1px solid rgb(23, 105, 119);
    margin: 1rem;
}

.btn-primary:hover {
    background-color:  rgb(23, 105, 119);
    border: 1px solid rgb(7, 148, 148);
}

.btn-outline-secondary {
    background-color: white;
    color: rgb(23, 105, 119);
    margin: .5rem;
    border: 1px solid rgb(23, 105, 119);
}

.btn-outline-secondary:hover {
    color: white;
    background-color: rgb(23, 105, 119);
    margin: .5rem;
    border: 1px solid rgb(23, 105, 119);
}

/*--- Portfolio ---*/

/*--- Contact Us ---*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgb(7, 148, 148);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(23, 105, 119);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/*--- Social Links ---*/
.social {
    font-size: 3rem;
    padding: 2rem;
}
.fa-facebook {
    color: #3b5998;
    padding-left: 2rem;
}
.fa-instagram {
    color: #517fa8;
    padding-left: 2rem;
}
.fa-linkedin {
    color: #0e76a8;
    padding-left: 2rem;
}
.fa-blog {
    color: #00aced;
    padding-left: 2rem;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-blog:hover {
    color: #d5d5d5;
}

.details {
    width: 75%;
    margin: 0 auto;
    padding-top: 1rem;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
 footer hr .light {
     border-top: 1pm solid #d5d5d5;
     width: 75%;
     margin-top: .8rem;
     margin-bottom: 1rem;
 }
footer a {
     color: #d5d5d5
     }
footer hr .light-100 {
     border-top: 1pm solid #d5d5d5;
     width: 100%;
     margin-top: .8rem;
     margin-bottom: 1rem;
}

/*----Media Queries ---*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

